@page
@model CoolEvents.WebApp.Pages.Users.UsersIndexModel
@{
}

<h1>All Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <p>First Name</p>
            </th>
            <th>
                <p>Last Name</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    @user.FirstName
                </td>
                <td>
                    @user.LastName
                </td>       
                <td>
                    <a>Edit</a> |
                    <a>Details</a> |
                    <a style="color:red">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-page="../Index">Back</a>