@page
@model CoolEvents.WebApp.Pages.Tickets.TicketBookedModel
@{
}

<div class="text-center">
	<h1>You successfully booked a ticket for this event.</h1>
	<a asp-page="./YourTicketsIndex">To Your Tickets</a>
	<br />
	<a asp-page="../Events/EventsIndex">Back To Events</a>
</div>
