@page
@model CoolEvents.WebApp.Pages.Events.CreateEventModel
@{
}

<h1>Create A New Event</h1>

<form method="post">
	<div class="pb-2">
		<label asp-for="Event.Name">Name</label>
		<input asp-for="Event.Name" type="text" rows="2" placeholder="Name" required/>
	</div>
	<div class="pb-2">
		<label asp-for="Event.Description">Description</label>
		<input asp-for="Event.Description" placeholder="Description" required/>
	</div>
	<div class="pb-2">
		<label asp-for="Event.Date">Date</label>
		<input asp-for="Event.Date" type="date" required/>
	</div>
	<div class="pb-2">
		<label asp-for="Event.PhotoUrl">Photo</label>
		<input asp-for="Event.PhotoUrl" type="text" placeholder="Photo URL" required/>
	</div>

	<button type="submit" class="btn success" style="border-color:green; background-color:green; color:white">Create</button>
</form>

<a asp-page="./EventsIndex">Back</a>