@page
@model CoolEvents.WebApp.Pages.Events.EventsIndexModel
@{
}
 <h1>All events</h1>

 <a asp-page = "./CreateEvent">Add New</a>

<table class="table">
    <thead>
        <tr>
            <th>
                <p>Name</p>
            </th>
            <th>
                <p>Description</p>
            </th>
            <th>
                <p>Date</p>
            </th>
            <th>
                <p>PhotoUrl</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model.Events)
        {
            <tr>
                <td>
                    @e.Name
                </td>
                <td>
                    @e.Description
                </td>
                <td>
                    @e.Date.ToShortDateString()
                </td>
                <td>
                    @e.PhotoUrl
                </td>
                <td>
                    <a>Edit</a> |
                    <a>Details</a> |
                    <a style="color:red">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>